# --- FILE SENSIBILI E DATI UTENTI ---
configuration_file.json
users_db.json
static/qrcodes/
static/uploads/


# --- PYTHON ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# --- AMBIENTE VIRTUALE ---
venv/
env/
.venv/

# --- LOG E CACHE ---
*.log
*.tmp
*.bak
.cache/
instance/

# --- DATABASE E FILE DI STATO ---
*.db
*.sqlite
*.sqlite3

# --- IDE / EDITOR ---
.vscode/
.idea/

# --- FILE DI BUILD / DISTRIBUZIONE ---
build/
dist/
*.egg-info/

# --- VARIABILI DI AMBIENTE ---
.env
.env.*

# --- FILE SENSIBILI DEL PROGETTO ---
configuration_file.json
users_db.json
static/qrcodes/
static/uploads/
.env
