<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Collaborazioni e Sponsor</title>

    <!-- Font & Icons -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styleinfocollab.css') }}"
    />
  </head>

  <body>
    <!-- HEADER -->
    <section class="animated-header">
      <div class="title-container">
        <h1>Collab e Sponsor</h1>
      </div>
    </section>

    <h3 id="subtitle">
      Qui troverai maggiori informazioni riguardo alle nostre collaborazioni, ai
      nostri sponsor e ai nostri eventi programmati
    </h3>

    <hr />

    <!-- EVENTI -->
    <section class="events-container">
      <div class="eventbox">
        <img
          src="{{ url_for('static', filename='media/legionariumxactivelist.jpeg') }}"
          alt="evento"
          class="eventboximage"
        />
        <h2>Legionarium Events</h2>
        <h3>
          Collaborazione ufficiale con Legionarium Events! Abbiamo accordi per
          feste ed eventi nelle date di Halloween, dei 100 giorni e del Prom!<br /><br />
          Inoltre incontro con DJ Pekka per l'assemblea d'Istituto e settimana
          gratuita all'Eden Spa!<br /><br />
          Locali disponibili:<br /><br />
          Tris Arena<br />Tris Garden<br />Baia Imperiale<br />Peter Pan<br />Mamamia<br />
        </h3>

        <section class="collabspammer">
          <a
            href="https://www.instagram.com/legionarium_events/?hl=it"
            target="_blank"
          >
            <img
              src="{{ url_for('static', filename='media/instalogo.png') }}"
              alt="Instagram"
            />
          </a>
        </section>
      </div>

      <div class="eventbox">
        <img
          src="{{ url_for('static', filename='media/sconti.jpeg') }}"
          alt="evento"
          class="eventboximage"
        />
        <h2>Sconti!</h2>
        <h3>
          ActiveList ha pensato ha tutto!<br />Ecco tutti gli sconti a cui hai
          diritto:<br /><br />
          Basedodici: 10% di sconto<br /><br />
          Pino Bar: 10% di sconto<br /><br />
          Artemis: 15% di sconto su un acquisto minimo di due capi<br /><br />
          Special Night: 10% di sconto<br /><br />Trattoria da Ugo: 15% di
          sconto<br /><br />
          Gastonomia Sale&Pepe: 10% di sconto<br /><br />
          Villa Marina: 10% di sconto su menù alla carta, valido da lunedì a
          venerdi esclusi i festivi<br /><br />
          Games Time: 10% di sconto su giochi usati, Funko Pop e statue. 5% di
          sconto sui fumetti<br /><br />
          Gusto Alternativo: 10% di sconto
        </h3>
      </div>

      <div class="eventbox">
        <img
          src="{{ url_for('static', filename='/media/fanculb.png') }}"
          alt="evento"
          class="eventboximage"
        />
        <h2>FAN</h2>
        <h3>
          Collaborazione ufficiale con Fan Eventi!<br />Avrai accesso a vantaggi
          in moltissimi ambiti: abbigliamento, benessere, divertimento...<br />
          Abbiamo ottenuto vantaggi dedicati al Liceo Torelli quali sconti nei
          locali albulena, buddha e altri locali, festa di pre-elezione della
          lista, possibilità di creare eventi in collaborazione durante l'anno
          scolastico corrente e di organizzare i 100 giorni con vantaggi
          esclusivi!<br />
          Tieniti aggiornato sul nostro profilo
          <a
            href="https://www.instagram.com/active_list?igsh=MXAzczljaG41NGpjMg=="
            >Instagram</a
          >
          e dai un occhiata al profilo di
          <a
            href="https://www.instagram.com/rick.fiorani?igsh=MTFrbWFubmI0dnR1bA=="
            >Riccardo Fiorani</a
          >, il ragazzo che ha reso possibile questa collaborazione!
        </h3>
      </div>

      <div class="eventbox">
        <img
          src="{{ url_for('static', filename='/media/scuolazoo_logo.jpeg') }}"
          alt="evento"
          class="eventboximage"
        />
        <h2>ScuolaZoo</h2>
        <h3>
          Collaborazione ufficiale con ScuolaZoo!<br />Active List si occuperà
          di gestire assemblee di istituto indimeticabili organizzate
          direttamente da ScuolaZoo.<br />
          In più abbiamo la possibilità di realizzare l'annuario scolastico in
          collaborazione con loro!<br />
        </h3>

        <section class="collabspammer">
          <a href="https://www.instagram.com/scuolazoo/" target="_blank">
            <img
              src="{{ url_for('static', filename='media/instalogo.png') }}"
              alt="Instagram"
            />
          </a>
        </section>
      </div>
    </section>

    <hr />

    <!-- TORNA ALLA HOME -->
    <section style="text-align: center; margin: 40px">
      <a href="{{ url_for('home') }}" class="back-home">
        <i class="fa-solid fa-arrow-left"></i> Torna alla Home
      </a>
    </section>
  </body>
</html>
